In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import sqlalchemy
from sqlalchemy import create_engine
# from secrets import username, password
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# UN Data #

In [2]:
# load un_govt.csv
un_govt= pd.read_csv("./data/un_govt.csv")
un_govt

,Unnamed: 0,country,population_2020,constitutional_form,head_of_state,basis_of_executive_legitimacy,id
0,0,Afghanistan,39074280,Republic,Executive,Presidency is independent of legislature,30000
1,1,Albania,2877239,Republic,Ceremonial,Ministry is subject to parliamentary confidence,30001
2,2,Algeria,43984569,Republic,Executive,Presidency independent of legislature; ministr...,30002
3,3,Argentina,45267449,Republic,Executive,Presidency is independent of legislature,30003
4,4,Armenia,2964219,Republic,Ceremonial,Ministry is subject to parliamentary confidence,30004
...,...,...,...,...,...,...,...
131,136,Venezuela,28421581,Republic,Executive,Presidency is independent of legislature,30181
132,137,Vietnam,97490013,Republic,Executive,Power constitutionally linked to a single poli...,30182
133,138,Yemen,29935468,Provisional,No constitutionally-defined basis to current r...,No constitutionally-defined basis to current r...,30183
134,139,Zambia,18468257,Republic,Executive,Presidency is independent of legislature,30184
135,140,Zimbabwe,14899771,Republic,Executive,Presidency is independent of legislature,30185

In [3]:
un_govt = un_govt.drop(columns = ['Unnamed: 0'])

In [4]:
un_govt.dtypes

country                          object
population_2020                   int64
constitutional_form              object
head_of_state                    object
basis_of_executive_legitimacy    object
id                                int64
dtype: object

# Lat/Lng

In [5]:
lat_lng = "./data/world_country_and_usa_states_latitude_and_longitude_values.csv"
lat_lng = pd.read_csv(lat_lng)
lat_lng

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California
...,...,...,...,...,...,...,...,...
240,YE,15.552727,48.516388,Yemen,NaN,NaN,NaN,NaN
241,YT,-12.827500,45.166244,Mayotte,NaN,NaN,NaN,NaN
242,ZA,-30.559482,22.937506,South Africa,NaN,NaN,NaN,NaN
243,ZM,-13.133897,27.849332,Zambia,NaN,NaN,NaN,NaN
244,ZW,-19.015438,29.154857,Zimbabwe,NaN,NaN,NaN,NaN

In [6]:
lat_lng = lat_lng.drop(columns=['country_code','usa_state_code', 'usa_state_latitude', 'usa_state_longitude','usa_state'])
lat_lng

      latitude  longitude               country
0    42.546245   1.601554               Andorra
1    23.424076  53.847818  United Arab Emirates
2    33.939110  67.709953           Afghanistan
3    17.060816 -61.796428   Antigua and Barbuda
4    18.220554 -63.068615              Anguilla
..         ...        ...                   ...
240  15.552727  48.516388                 Yemen
241 -12.827500  45.166244               Mayotte
242 -30.559482  22.937506          South Africa
243 -13.133897  27.849332                Zambia
244 -19.015438  29.154857              Zimbabwe

[245 rows x 3 columns]

In [7]:
lat_lng.country.unique()

array(['Andorra', 'United Arab Emirates', 'Afghanistan',
       'Antigua and Barbuda', 'Anguilla', 'Albania', 'Armenia',
       'Netherlands Antilles', 'Angola', 'Antarctica', 'Argentina',
       'American Samoa', 'Austria', 'Australia', 'Aruba', 'Azerbaijan',
       'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium',
       'Burkina Faso', 'Bulgaria', 'Bahrain', 'Burundi', 'Benin',
       'Bermuda', 'Brunei', 'Bolivia', 'Brazil', 'Bahamas', 'Bhutan',
       'Bouvet Island', 'Botswana', 'Belarus', 'Belize', 'Canada',
       'Cocos [Keeling] Islands', 'Congo [DRC]',
       'Central African Republic', 'Congo [Republic]', 'Switzerland',
       "Côte d'Ivoire", 'Cook Islands', 'Chile', 'Cameroon', 'China',
       'Colombia', 'Costa Rica', 'Cuba', 'Cape Verde', 'Christmas Island',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Denmark',
       'Dominica', 'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia',
       'Egypt', 'Western Sahara', 'Eritrea', 'Spain', 'Ethiopia',
       'Finland', 'Fiji', 'Falkland Islands [Islas Malvinas]',
       'Micronesia', 'Faroe Islands', 'France', 'Gabon', 'United Kingdom',
       'Grenada', 'Georgia', 'French Guiana', 'Guernsey', 'Ghana',
       'Gibraltar', 'Greenland', 'Gambia', 'Guinea', 'Guadeloupe',
       'Equatorial Guinea', 'Greece',
       'South Georgia and the South Sandwich Islands', 'Guatemala',
       'Guam', 'Guinea-Bissau', 'Guyana', 'Gaza Strip', 'Hong Kong',
       'Heard Island and McDonald Islands', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Ireland', 'Israel',
       'Isle of Man', 'India', 'British Indian Ocean Territory', 'Iraq',
       'Iran', 'Iceland', 'Italy', 'Jersey', 'Jamaica', 'Jordan', 'Japan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Comoros',
       'Saint Kitts and Nevis', 'North Korea', 'South Korea', 'Kuwait',
       'Cayman Islands', 'Kazakhstan', 'Laos', 'Lebanon', 'Saint Lucia',
       'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco', 'Moldova',
       'Montenegro', 'Madagascar', 'Marshall Islands',
       'Macedonia [FYROM]', 'Mali', 'Myanmar [Burma]', 'Mongolia',
       'Macau', 'Northern Mariana Islands', 'Martinique', 'Mauritania',
       'Montserrat', 'Malta', 'Mauritius', 'Maldives', 'Malawi', 'Mexico',
       'Malaysia', 'Mozambique', 'Namibia', 'New Caledonia', 'Niger',
       'Norfolk Island', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway',
       'Nepal', 'Nauru', 'Niue', 'New Zealand', 'Oman', 'Panama', 'Peru',
       'French Polynesia', 'Papua New Guinea', 'Philippines', 'Pakistan',
       'Poland', 'Saint Pierre and Miquelon', 'Pitcairn Islands',
       'Puerto Rico', 'Palestinian Territories', 'Portugal', 'Palau',
       'Paraguay', 'Qatar', 'Réunion', 'Romania', 'Serbia', 'Russia',
       'Rwanda', 'Saudi Arabia', 'Solomon Islands', 'Seychelles', 'Sudan',
       'Sweden', 'Singapore', 'Saint Helena', 'Slovenia',
       'Svalbard and Jan Mayen', 'Slovakia', 'Sierra Leone', 'San Marino',
       'Senegal', 'Somalia', 'Suriname', 'São Tomé and Príncipe',
       'El Salvador', 'Syria', 'Swaziland', 'Turks and Caicos Islands',
       'Chad', 'French Southern Territories', 'Togo', 'Thailand',
       'Tajikistan', 'Tokelau', 'Timor-Leste', 'Turkmenistan', 'Tunisia',
       'Tonga', 'Turkey', 'Trinidad and Tobago', 'Tuvalu', 'Taiwan',
       'Tanzania', 'Ukraine', 'Uganda', 'U.S. Minor Outlying Islands',
       'United States', 'Uruguay', 'Uzbekistan', 'Vatican City',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'U.S. Virgin Islands', 'Vietnam',
       'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Kosovo', 'Yemen',
       'Mayotte', 'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [8]:
lat_lng=lat_lng.replace( to_replace="Congo [DRC]", value="Democratic Republic of the Congo",regex=True )
lat_lng=lat_lng.replace( to_replace="Congo [Republic]", value="Republic of the Congo",regex=True )
lat_lng=lat_lng.replace( to_replace="Palestinian Territories", value="Palestine",regex=True )
lat_lng=lat_lng.replace( to_replace="Serbia", value="Republic of Serbia",regex=True )

In [9]:
un_govt = pd.merge(lat_lng,un_govt, on= 'country', how='right' )

un_govt.isnull().values.any()

True

In [10]:
un_govt  = un_govt.dropna(how='any',axis=0) 
un_govt

,latitude,longitude,country,population_2020,constitutional_form,head_of_state,basis_of_executive_legitimacy,id
0,33.939110,67.709953,Afghanistan,39074280,Republic,Executive,Presidency is independent of legislature,30000
1,41.153332,20.168331,Albania,2877239,Republic,Ceremonial,Ministry is subject to parliamentary confidence,30001
2,28.033886,1.659626,Algeria,43984569,Republic,Executive,Presidency independent of legislature; ministr...,30002
3,-38.416097,-63.616672,Argentina,45267449,Republic,Executive,Presidency is independent of legislature,30003
4,40.069099,45.038189,Armenia,2964219,Republic,Ceremonial,Ministry is subject to parliamentary confidence,30004
...,...,...,...,...,...,...,...,...
131,6.423750,-66.589730,Venezuela,28421581,Republic,Executive,Presidency is independent of legislature,30181
132,14.058324,108.277199,Vietnam,97490013,Republic,Executive,Power constitutionally linked to a single poli...,30182
133,15.552727,48.516388,Yemen,29935468,Provisional,No constitutionally-defined basis to current r...,No constitutionally-defined basis to current r...,30183
134,-13.133897,27.849332,Zambia,18468257,Republic,Executive,Presidency is independent of legislature,30184
135,-19.015438,29.154857,Zimbabwe,14899771,Republic,Executive,Presidency is independent of legislature,30185

# happiness data #

In [11]:
# load world_happiness
world_happiness = "./data/world_happiness.csv"
world_happiness = pd.read_csv(world_happiness)
world_happiness

,Unnamed: 0,country_id,world_region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_of_choice,generosity,perceptions_of_corruption,year_2020
0,0,30000,South Asia,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,2020-01-01
1,1,30001,Central and Eastern Europe,4.8827,9.417931,0.671070,68.708138,0.781994,-0.042309,0.896304,2020-01-01
2,2,30002,Middle East and North Africa,5.0051,9.537965,0.803385,65.905174,0.466611,-0.121105,0.735485,2020-01-01
3,3,30003,Latin America and Caribbean,5.9747,9.810955,0.900568,68.803802,0.831132,-0.194914,0.842010,2020-01-01
4,4,30004,Commonwealth of Independent States,4.6768,9.100476,0.757479,66.750656,0.712018,-0.138780,0.773545,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...
129,129,30181,Latin America and Caribbean,5.0532,8.977794,0.890408,66.505341,0.623278,-0.169091,0.837038,2020-01-01
130,130,30182,Southeast Asia,5.3535,8.809546,0.849987,67.952736,0.939593,-0.094533,0.796421,2020-01-01
131,131,30183,Middle East and North Africa,3.5274,7.759683,0.817981,56.727283,0.599920,-0.157735,0.800288,2020-01-01
132,132,30184,Sub-Saharan Africa,3.7594,8.224720,0.698824,55.299377,0.806500,0.078037,0.801290,2020-01-01
133,133,30185,Sub-Saharan Africa,3.2992,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,2020-01-01

In [12]:
world_happiness = world_happiness.drop(columns = ['Unnamed: 0'])

In [13]:
world_happiness.dtypes

country_id                     int64
world_region                  object
happiness_score              float64
gdp_per_capita               float64
social_support               float64
healthy_life_expectancy      float64
freedom_of_choice            float64
generosity                   float64
perceptions_of_corruption    float64
year_2020                     object
dtype: object

# covid data #

In [14]:
# import csv as df

world_covid_data = pd.read_csv("./data/world_covid_data.csv")
world_covid_data.tail()

,Unnamed: 0,country_id,covid_cases_id,date,new_cases,new_deaths,extreme_poverty,handwashing_facilities,covid_times_life_expectancy
41389,41389,30185,59829,2020-06-20,0.0,0.0,21.4,36.791,61.49
41390,41390,30185,59830,2020-06-19,16.0,0.0,21.4,36.791,61.49
41391,41391,30185,59831,2020-06-18,62.0,0.0,21.4,36.791,61.49
41392,41392,30185,59832,2020-08-09,74.0,2.0,21.4,36.791,61.49
41393,41393,30185,59833,2020-12-31,242.0,3.0,21.4,36.791,61.49

In [15]:
world_covid_data = world_covid_data.drop(columns = ['Unnamed: 0'])

In [16]:
# look at types

world_covid_data.dtypes

country_id                       int64
covid_cases_id                   int64
date                            object
new_cases                      float64
new_deaths                     float64
extreme_poverty                float64
handwashing_facilities         float64
covid_times_life_expectancy    float64
dtype: object

# govt response data #

In [17]:
# Read csv and store in to Pandas Dataframe
gov_response = pd.read_csv('./data/gov_response.csv')
gov_response

,Unnamed: 0,response_id,gov_resp_desc,gov_resp_date,gov_resp_type,enforcer,gov_resp_link_src,country_id
0,0,300.0,"March 6, Afghanistan ""Measures have been taken...",2020-03-06,Anti-Disinformation Measures,"Ministry/Department of Health,Other",https://www.etilaatroz.com/94246/fears-rumors-...,30000
1,1,402.0,"""On 26 March, the President of Afghanistan, As...",2020-03-26,Other Policy Not Listed,National Governm,https://reliefweb.int/report/afghanistan/afgha...,30000
2,2,403.0,"In Afghanistan's ""eastern province of Nangarha...",2020-03-28,Other Policy Not Listed,Provincial/State Governm,https://www.nytimes.com/2020/03/31/world/asia/...,30000
3,3,404.0,Relaxation in the measured lockdown policies i...,2020-03-29,Other Policy Not Listed,Provincial/State Governm,https://reliefweb.int/report/afghanistan/afgha...,30000
4,4,405.0,"In Afghanistan, ""On 1 April, the Kabul Chief o...",2020-04-01,Other Policy Not Listed,NaN,https://reliefweb.int/report/afghanistan/afgha...,30000
...,...,...,...,...,...,...,...,...
15995,15996,21554.0,Zimbabwe has introduced mandatory screening fo...,2020-07-22,Health Testing,National Governm,https://twitter.com/edmnangagwa/status/1285955...,30185
15996,15997,21555.0,All vehicles used as a transport service in Zi...,2020-05-02,Hygien,"National Government,",http://www.veritaszim.net/sites/veritas_d/file...,30185
15997,15998,21556.0,Every individual must be temperature-tested an...,2020-05-02,Hygien,National Governm,http://www.veritaszim.net/sites/veritas_d/file...,30185
15998,15999,21558.0,When an employee tests positive for COVID-19 i...,2020-07-22,Hygien,"National Government,",https://www.veritaszim.net/sites/veritas_d/fil...,30185
15999,16000,21584.0,"In Zimbabwe, the Zimbabwe International Trade ...",2020-03-17,Restrictions of Mass Gatherings,National Governm,https://iharare.com/independence-day-zitf-post...,30185

In [18]:
gov_response = gov_response.drop(columns = ['Unnamed: 0'])

In [19]:
gov_response = gov_response.dropna()

In [20]:
# take a look at dtypes
gov_response.dtypes

response_id          float64
gov_resp_desc         object
gov_resp_date         object
gov_resp_type         object
enforcer              object
gov_resp_link_src     object
country_id             int64
dtype: object

# SQL Alchemy #

In [21]:
from sqlalchemy import create_engine



engine = create_engine(f'postgresql://postgres:f1*Rian1720@localhost:5432/Happiness_db')
conn=engine.connect()


un_govt.to_sql(name='un_govt',con=engine, if_exists='append',index=False)
world_happiness.to_sql(name='world_happiness',con=engine, if_exists='append',index=False)
world_covid_data.to_sql(name='world_covid_data',con=engine, if_exists='append',index=False)
gov_response.to_sql(name='gov_response',con=engine, if_exists='append',index=False)

In [22]:
govt = pd.read_sql("SELECT * FROM un_govt", conn )
govt.head()

,id,country,latitude,longitude,population_2020,head_of_state,constitutional_form,basis_of_executive_legitimacy
0,30000,Afghanistan,33.939110,67.709953,39074280,Executive,Republic,Presidency is independent of legislature
1,30001,Albania,41.153332,20.168331,2877239,Ceremonial,Republic,Ministry is subject to parliamentary confidence
2,30002,Algeria,28.033886,1.659626,43984569,Executive,Republic,Presidency independent of legislature; ministr...
3,30003,Argentina,-38.416097,-63.616672,45267449,Executive,Republic,Presidency is independent of legislature
4,30004,Armenia,40.069099,45.038189,2964219,Ceremonial,Republic,Ministry is subject to parliamentary confidence

In [23]:
world_hap = pd.read_sql("SELECT * FROM world_happiness" , conn )
world_hap

,country_id,year_2020,world_region,gdp_per_capita,happiness_score,social_support,healthy_life_expectancy,freedom_of_choice,generosity,perceptions_of_corruption
0,30000,2020-01-01,South Asia,7.462861,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687
1,30001,2020-01-01,Central and Eastern Europe,9.417931,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304
2,30002,2020-01-01,Middle East and North Africa,9.537965,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485
3,30003,2020-01-01,Latin America and Caribbean,9.810955,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010
4,30004,2020-01-01,Commonwealth of Independent States,9.100476,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545
...,...,...,...,...,...,...,...,...,...,...
129,30181,2020-01-01,Latin America and Caribbean,8.977794,5.0532,0.890408,66.505341,0.623278,-0.169091,0.837038
130,30182,2020-01-01,Southeast Asia,8.809546,5.3535,0.849987,67.952736,0.939593,-0.094533,0.796421
131,30183,2020-01-01,Middle East and North Africa,7.759683,3.5274,0.817981,56.727283,0.599920,-0.157735,0.800288
132,30184,2020-01-01,Sub-Saharan Africa,8.224720,3.7594,0.698824,55.299377,0.806500,0.078037,0.801290
133,30185,2020-01-01,Sub-Saharan Africa,7.865712,3.2992,0.763093,55.617260,0.711458,-0.072064,0.810237

In [24]:
world_covid = pd.read_sql("SELECT * FROM world_covid_data", conn )
world_covid

,covid_cases_id,country_id,date,new_cases,new_deaths,extreme_poverty,handwashing_facilities,covid_times_life_expectancy
0,30,30000,2020-02-24,1,0,0,38,65
1,31,30000,2020-09-22,22,1,0,38,65
2,32,30000,2020-09-21,30,3,0,38,65
3,33,30000,2020-09-20,125,4,0,38,65
4,34,30000,2020-09-19,22,0,0,38,65
...,...,...,...,...,...,...,...,...
41389,59829,30185,2020-06-20,0,0,21,37,61
41390,59830,30185,2020-06-19,16,0,21,37,61
41391,59831,30185,2020-06-18,62,0,21,37,61
41392,59832,30185,2020-08-09,74,2,21,37,61
41393,59833,30185,2020-12-31,242,3,21,37,61

In [25]:
gov_resp = pd.read_sql("SELECT * FROM gov_response", conn )
gov_resp

,response_id,country_id,gov_resp_date,gov_resp_desc,enforcer,gov_resp_type,gov_resp_link_src
0,300,30000,2020-03-06,"March 6, Afghanistan ""Measures have been taken...","Ministry/Department of Health,Other",Anti-Disinformation Measures,https://www.etilaatroz.com/94246/fears-rumors-...
1,402,30000,2020-03-26,"""On 26 March, the President of Afghanistan, As...",National Governm,Other Policy Not Listed,https://reliefweb.int/report/afghanistan/afgha...
2,403,30000,2020-03-28,"In Afghanistan's ""eastern province of Nangarha...",Provincial/State Governm,Other Policy Not Listed,https://www.nytimes.com/2020/03/31/world/asia/...
3,404,30000,2020-03-29,Relaxation in the measured lockdown policies i...,Provincial/State Governm,Other Policy Not Listed,https://reliefweb.int/report/afghanistan/afgha...
4,406,30000,2020-04-05,"The governor of Afghanistan's capital, Kabul, ...","National Government,Military,Provincial/State ...",Other Policy Not Listed,https://www.bbc.com/persian/afghanistan-52171203
...,...,...,...,...,...,...,...
15882,21552,30185,2020-08-20,Every hotel in Zimbabwe shall dedicate a room ...,National Governm,Health Resources,https://www.veritaszim.net/node/4387
15883,21555,30185,2020-05-02,All vehicles used as a transport service in Zi...,"National Government,",Hygien,http://www.veritaszim.net/sites/veritas_d/file...
15884,21556,30185,2020-05-02,Every individual must be temperature-tested an...,National Governm,Hygien,http://www.veritaszim.net/sites/veritas_d/file...
15885,21558,30185,2020-07-22,When an employee tests positive for COVID-19 i...,"National Government,",Hygien,https://www.veritaszim.net/sites/veritas_d/fil...
15886,21584,30185,2020-03-17,"In Zimbabwe, the Zimbabwe International Trade ...",National Governm,Restrictions of Mass Gatherings,https://iharare.com/independence-day-zitf-post...

In [26]:
conn.close()